
@{
    @model List<MLDShopping_Admin.Models.AccountVM>;
    ViewData["Title"] = "Accounts";
    //Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}



<section class="content container-fluid">
    <div class="row mt-3">
        <div class="col-12">
            <div class="row">
                <div class="card w-100">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control form-control-sm" placeholder="Type to search..." aria-label="Type to search..." aria-describedby="Type to search...">
                                <div class="input-group-append">
                                    <a class="btn btn-sm btn-outline-secondary" href="/account/edit">Button</a>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <button class="btn btn-primary btn-sm" onclick="window.location.href = '@Url.Action("Edit", "Account")';">Add New Account</button>
                        </div>
                        <div class="row mt-3">
                            <table class="table table-light table-bordered table-hover table-sm" id="tblAccounts">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Account Id</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Permissions</th>
                                        <th>Created At</th>
                                        <th>Deleted</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*@foreach (var account in Model)
                                        {
                                            <tr>
                                                <th scope="row">@account.AccountId</th>
                                                <td>@account.FirstName</td>
                                                <td>@account.LastName</td>
                                                <td>@account.Permissions</td>
                                                <td>@account.CreatedAt</td>
                                                <td>@account.Deleted</td>
                                                <td>@Html.ActionLink("Edit", "Edit", "Account", new { id = account.AccountId })</td>

                                            </tr>
                                        }*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

@section scripts {
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
    <script language="javascript">
        $(document).ready(function () {
            var table = $("#tblAccounts").DataTable({
                serverSide: false,
                ajax: {
                    url: '/account/read/',
                    dataSrc: ""
                },
                paging: true,
                dataSrc: "",
                sAjaxDataProp: "",
                columns: [
                    { data: "AccountId" },
                    { data: "FirstName" },
                    { data: "LastName" },
                    { data: "PermissionsString" },
                    { data: "CreatedAt" },
                    { data: "Deleted" },
                    {
                        data: "AccountId",
                        render: function (data, type, account) {
                            return  '<a href="/account/edit/' + data + '">Edit</a>';
                        }
                    }

                ]
            });
            $('#tblAccounts tfoot th').each(function (i) {
                var title = $('#tblAccounts thead th').eq($(this).index()).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" data-index="' + i + '" />');
            });
            $(table.table().container()).on('keyup', 'tfoot input', function () {
                table
                    .column($(this).data('index'))
                    .search(this.value)
                    .draw();
            });
        })
    </script>


}