
@{
    @model MLDShopping_Admin.Models.AccountVM;
    var isNew = Model == null || Model.AccountId == 0;
    var title = isNew ? "New Account" : "Edit Account";
    var message = ViewData["message"];
    var messageType = ViewData["MessageType"];

}

@*<section class="content-header">
        <h1>
            @title
        </h1>
    </section>*@

<section class="content container-fluid">
    <form role="form" method="post" enctype="multipart/form-data" asp-area="Admin" asp-controller="Account" asp-action="Edit">
        <div class="row mt-3">
            <div class="col-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">General</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        @if (!string.IsNullOrEmpty(message as string))
                        {
                            <div class="callout callout-@messageType alert-dismissible">
                                <p>@message</p>
                            </div>
                        }
                        @Html.HiddenFor(x => x.AccountId)
                        @if (Model.AccountId != 0)
                        {
                            <div class="form-group">
                                <label>Account Id</label>
                                <span class="form-control" id="AccountId">@Model.AccountId</span>
                            </div>
                        }
                        <div class="form-group">
                            <label asp-for="Email">Email address</label>
                            <input asp-for="Email" class="form-control" id="Email" placeholder="Enter email" required>
                        </div>
                        <div class="form-group">
                            <label asp-for="FirstName">First Name</label>
                            <input asp-for="FirstName" type="text" class="form-control" id="firstname" placeholder="Enter First Name" required>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName">Last Name</label>
                            <input asp-for="LastName" type="text" class="form-control" id="lastname" placeholder="Enter Last Name" required>
                        </div>

                        <div class="form-group">
                            <label asp-for="Password">Password</label>
                            <div class="input-group">
                                <input asp-for="Password" type="password" class="form-control" id="Password" placeholder="Password">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="btnGeneratePassword">Generate</button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="userImage">User Image</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" asp-for="UserImage" class="custom-file-input" id="UserImage" name="UserImage" onchange="DisplayFilesToUpload()">
                                    <label class="custom-file-label" id="UserImageLabel" for="UserImage">Choose file</label>
                                </div>
                                <div class="input-group-append">
                                    <span class="input-group-text" id="">Upload</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label>Current</label>
                            <img class="account-edit-image" src="@Model.UserImageUrl" />
                        </div>
                        <div>
                            <label>New Image</label>
                            <img class="account-edit-image" id="imagePreview" src="" style="display: none" />
                        </div>
                        <div class="form-group" data-select2-id="Permissions">

                            <label asp-for="Permissions">
                                Select Permissions
                            </label>
                            @Html.ListBoxFor(m => m.PermissionIds, Model.SelectList, new { @class = "form-control m-select2 js-states", multiple = "multiple", id = "PermissionIds" })


                            @*<label asp-for="Permissions">
                                    Select Permissions
                                    <select asp-for="Permissions" class="js-example-basic-multiple js-states form-control" multiple="multiple">
                                        @foreach (var p in Model.SelectList)
                                        {
                                            <option value="@p.Value">@p.Text</option>
                                        }
                                    </select>
                                </label>*@
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">@(isNew? "Submit" : "Save")</button>
                        <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("Delete", "Account", new { area="Admin", id = Model.AccountId})';">Delete</button>
                        @if (Model.AccountId > 0)
                        {
                            <button type="button" class="btn btn-default" onclick="window.location.href='@Url.Action("Edit", "Account", new { area="Admin", id= 0})';">New</button>
                        }
                    </div>
                </div>

            </div>
        </div>
    </form>

</section>
@section scripts {
    <!-- DataTables -->
    <script language="javascript">
        $(document).ready(function () {
            $('#PermissionIds').select2();

            $('#btnGeneratePassword').click(function (e) {

                let password = GeneratePassword(12, true);
                $('#Password').val(password);

            });
            function GeneratePassword(length, special) {
                var iteration = 0;
                var password = "";
                var randomNumber;
                if (special == undefined) {
                    var special = false;
                }
                while (iteration < length) {
                    randomNumber = (Math.floor((Math.random() * 100)) % 94) + 33;
                    if (!special) {
                        if ((randomNumber >= 33) && (randomNumber <= 47)) { continue; }
                        if ((randomNumber >= 58) && (randomNumber <= 64)) { continue; }
                        if ((randomNumber >= 91) && (randomNumber <= 96)) { continue; }
                        if ((randomNumber >= 123) && (randomNumber <= 126)) { continue; }
                    }
                    iteration++;
                    password += String.fromCharCode(randomNumber);
                }
                return password;
            };

        })
        function DisplayFilesToUpload() {
            // GET file from DOM
            let element = document.getElementById("UserImage");
            let files = element.files;
            for (var i = 0; i < files.length; i++) {
                let fileName = files[i].name + "(" + files[i].size + " bytes)";
                document.getElementById("UserImageLabel").innerHTML = fileName;

                // SET the display image to this image.
                //let imgData = getBase64Image(files[i]);
                SetPreviewImage(files[i]);
            }
        }

        function SetPreviewImage(file) {
            // define variables
            let preview = document.getElementById("imagePreview");
            preview.style.display = 'block';
            let src = window.URL.createObjectURL(file);
            console.log(src);
            localStorage.setItem("imagePreview", src);
            preview.src = src;
        }


    </script>


}